<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
    <httpRuntime/>
    <customErrors mode="Off" />
  </system.web>

  <system.webServer>

    <validation validateIntegratedModeConfiguration="false" />


    <handlers accessPolicy="Read, Execute, Script" >
      <add verb="GET" path="testAsync" name="AsyncTestHandler" type="httpTester.HandlerTestAsync, httpTester"/>
      <add verb="GET" path="test" name="SyncTestHandler" type="httpTester.HandlerTest, httpTester"/>
      <add verb="GET" path="testNotSoAsync" name="NotSoAsyncTestHandler" type="httpTester.HandlerTestNotSoAsync, httpTester"/>      
    </handlers>

  </system.webServer>
</configuration>